appunti.txt
gpu_benchmark/benchmark
npu_benchmark/benchmark
gpu_benchmark/build/
sycl_benchmark/build/

amm_scheduler/bin/
amm_scheduler/test.mp4
amm_scheduler/build/

vino_c/models
vino_c/test_npu

+ 
ù


*/.cache
.cache
